@import url(style.css);
body{
    margin: 0;
}

.header{
    background-color: #ff000099;
    height: 50px;
}

.cafe{
    height: 480px;
    color: aqua;
}

.rland{
    height: 330px;
    background-color:  bisque;
}