@import url(style.css);
body{
    margin: 0;
}

.header{
    background-color: #ff000099;
    height: 50px;
}

.cafe{
    height: 480px;
    color: aqua;
    position: relative;
}
    .cafe-title{
        
        
    }

        .rland-location{
            position: absolute;
            left: 0;
            bottom: 0;
        }

.rland{
    height: 330px;
    background-color:  bisque;
}