.rest-editor-box {
  height: 450px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;

  transition: all 0.3s ease;
  /* transform: scale(1, 0); */
  
}
.rest-editor-box ::after{
position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: -1;

    transition: all 1s ease;
    content: "";
  }
/* input#rest-popup[type=checkbox]:checked ~ .rest-editor-box {
  transition: all 2s 1s;
  transform: scale(1, 1);
} */



.rest-editor {
  display: block;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  border-top: 35px solid rgb(255, 255, 255);
  border-top-left-radius: 30px 25px;
  border-top-right-radius: 30px 25px;
}

.rest-editor-box>hr {
  position: absolute;
  height: 5px;
  width: 20%;
  border: 0px;
  margin: 15px 40% 0 40%;
  background-color: #5A8FE0;
}

.rest-editor>h1 {
  font-size: 1rem;
  padding-left: 30px;
}

.rest-editor>hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  margin: 20px 20px 20px 20px;
}

.rest-edit-box {
  background-color: rgb(255, 255, 255);
  /* padding: 20px 20px 20px 20px; */
  text-align: center;
}

.rest-editor>button {
  width: 200px;
  height: 45px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  font-size: 1rem;
  text-align: center;
  background-color: #5A8FE0;
  color: white;
}
















/* 시간 조정 임시 css*/

.rest-editor * {
  box-sizing: border-box;
}

.picker {
  position: relative;
  width: 300px;
  overflow: hidden;
  margin: 1rem auto 0;
  outline: 1px solid #ccc;
  padding: 0 30px;
}

.swiper-container {
  width: 80px;
  height: 210px;
  float: left;
}

.swiper-slide {
  text-align: center;
  font-size: 2rem;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  opacity: 0.25;
  transition: opacity 0.3s ease;
  cursor: default;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}

.swiper-slide-prev,
.swiper-slide-next {
  cursor: pointer;
}

.swiper-slide-active {
  opacity: 1;
}

.cur-time {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  line-height: 62px;
}

.cur-time:before,
.cur-time:after {
  content: ':';
  display: inline-block;
  line-height: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.cur-time:before {
  left: 95px;
}

.cur-time:after {
  left: 175px;
}

.arrows .swiper-container:after,
.arrows .swiper-container:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  opacity: 0.5;
}

.arrows .swiper-container:before {
  top: 0.5rem;
  border-top-width: 0;
  border-bottom-color: currentColor;
}

.arrows .swiper-container:after {
  bottom: 0.5rem;
  border-bottom-width: 0;
  border-top-color: currentColor;
}